@media (max-width: 640px) {
    footer {
      height: auto;
      width:110%;
      margin-top:-3px;
  
      header {
        width: 100%;
        margin-left: auto;
        background: -webkit-gradient(
          linear,
          left top,
          left bottom,
          from(#000),
          to(#045fb4)
        );
        // clip-path: polygon(0% 0%, 100% 0, 86% 0, 64% 100%, 0 100%);
        color: #fff;
  
        h2 {
          padding: 30px;
          font-size: 3em;
          text-shadow: 2px 2px #444;
        }
      }
  
      .fondContact {
        padding:0;
        width:100%;
  
        .adresse {
          background: #fff;
          padding: 10px 10px;
          width: 100%;
  
          .fondAdresse {
            width: 80%;
            margin: auto;
            padding:5px 5px;
  
            p {
              i {
                padding-left:5px;padding-right:5px;;
                background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#045FB4));
                color: transparent;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: 700;
              }
            }
          }
        }
      }
      .formulaire {
        background: -webkit-gradient(
          linear,
          left top,
          left bottom,
          from(#000),
          to(#045fb4)
        );
        color: #fff;
        width: 100%;
        position: initial;
        padding: 10px 10px;

        form{
            width:80%;
            margin:auto;

            input {
                &[type="button"] {
                    background-color:#fff;
                    color:#444;
                    border:0;
                    margin:auto;
                    text-transform:uppercase;
                    font-weight:900;
                }
            }
        }
      }
    }
  }

  @media screen and (min-width : 768px){
    footer {
        height:100vh;
      
        header {
          width: 100%;
          margin-left: auto;
          background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(#000),
            to(#045fb4)
          );
          // clip-path: polygon(0% 0%, 100% 0, 86% 0, 64% 100%, 0 100%);
          color: #fff;
      
          h2 {
            padding: 30px;
            font-size: 3em;
            text-shadow: 2px 2px #444;
          }
        }
      
        .fondContact {
          position: relative;
      
          .adresse {
            background: -webkit-gradient(
              linear,
              right bottom,
              right top,
              from(#000),
              to(#045fb4)
            );
            padding: 10px 10px;
            width: 25%;
            height: 200px;
            position: absolute;
            top: -50px;
            left: 10%;
      
            .fondAdresse {
              margin: auto;
              background-color: #fff;
              height: 180px;
      
              p {
                i {
                    padding-left:5px;padding-right:5px;;
                    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#045FB4));
                    color: transparent;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-weight: 700;
                }
              }
            }
          }
        }
      
        .formulaire {
          position: absolute;
          width: 50%;
          left: 40%;
          padding: 5px 5px;
      
          input {
            &[type="button"] {
              margin-left: auto;
              margin-right: auto;
              background: -webkit-gradient(
                linear,
                left top,
                left bottom,
                from(#000),
                to(#045fb4)
              );
              // clip-path: polygon(0% 0%, 100% 0, 86% 0, 64% 100%, 0 100%);
              color: #fff;
              text-transform: uppercase;
              border: none;
            }
          }
        }
      }
  }

  

  