footer{
    height:100vh;
    overflow:hidden;
    width:100%;
    margin-left:auto;
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#045FB4));
    clip-path: polygon(0% 0%, 100% 0, 86% 0, 64% 100%, 0 100%);
    color:#fff;
    
    h2{
        font-size:3em;
        margin-top:50px;
        margin-bottom:75px;
        text-shadow:2px 2px #444;
    }

    .offEm{
        color:#444;
    }
}