#sectionProduits{
    height:100vh;
    width:100%;

    article{
        background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#045FB4));
        transition: background-color 0.45s cubic-bezier(0.25, 1, 0.33, 1),opacity 0.45s cubic-bezier(0.25, 1, 0.33, 1);
        height:58vh;

        &::after{
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 50px 0 50px 200px;
            border-color: transparent transparent transparent #007bff;

        }

        &:nth-child(2n){
            background: -webkit-gradient(linear, left top, left bottom, from(#FFF, to(#FFF)));
            background:#fff;
        }

        .produit{
            color:#fff;
            background:red;
            padding:20px 20px;
        }

        .img{
            margin-left:50px;
        }


    }
}
    