@media (max-width: 640px) {
    #sectionService {
        padding:10p 10px;
        color:#444;
        width:110%;
    
        h2{
            text-align:center;
            padding-top:15px;
            font-size:3.5em;
            margin-top:20px;
            margin-bottom:10px;
            text-shadow:2px 2px #FFF;
        }
    
        i{
            font-size:3.5em;
            font-size:3.5em;
            background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#045FB4));
            color: transparent;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 700;
        }
    
        h3{
            font-weight:300;
            font-size:2em;
            margin-top:5px;
            
            &::first-letter{
                text-transform:uppercase;
            }
        }
    
        p{
            text-align:justify;
            font-size:1em;
        }
    }

}

@media (min-width: 641px) {
    #sectionService {
        padding:10p 10px;
        color:#444;
    
        h2{
            text-align:center;
            padding-top:15px;
            font-size:3.5em;
            margin-top:20px;
            margin-bottom:10px;
            text-shadow:2px 2px #FFF;
        }
    
        i{
        font-size: 3.5em;
        background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#045FB4));
        color:transparent;
        // -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight:700;
        }
    
        h3{
            font-weight:300;
            font-size:2em;
            margin-top:5px;
            
            &::first-letter{
                text-transform:uppercase;
            }
        }
    
        p{
            text-align:justify;
            font-size:1em;
        }
    }
}
