#sectionProduits{
    width:100%;
    padding:0;


    .fondGradient{
        background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#045FB4));
        transition: background-color 0.45s cubic-bezier(0.25, 1, 0.33, 1),opacity 0.45s cubic-bezier(0.25, 1, 0.33, 1);
        width:100%;
        color:#fff;
        border:0px !important;

        h3{
            text-align:center;
            padding-top:15px;
            font-size:2em;
            margin-top:20px;
            margin-bottom:30px;
            text-shadow:2px 2px #444;
            text-transform:uppercase;
        }

        .imgDeux{
            img{
                clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
            }

              @media (max-width: 640px) {
                    img{
                        clip-path: polygon(0% 0%, 100% 0, 100% 69%, 48% 100%, 0 68%);
                    }
                }
        }
    }


        .fondTransparent{
            background-color:#fff;
            width:100%;
            color:#444;

            h3{
            text-align:center;
            padding-top:15px;
            font-size:2em;
            margin-top:20px;
            margin-bottom:30px;
            text-shadow:2px 2px #fff;
            text-transform:uppercase;
            }

            .imgUn{
                img{
                    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);                
                }

                @media (max-width: 640px) {
                    img{
                    clip-path: polygon(48% 0, 100% 33%, 100% 100%, 0 99%, 0 36%);
                    }
                }

        }
    }

    .card-body{
        margin-top:110px;

        ul{
            width:70%;
            margin-left:auto;
            margin-right:auto;
            margin-top:50px;
            }

    }

    

}

