// normalize

// fond de page

html{
    width:100%;
}
body{
    width:100%;
    overflow-x :hidden;
    padding:0;
}

@media (max-width: 640px) {
    body{
        width:100%;
        padding:0;
        overflow-x : hidden;
    }
}

// header
@import "_header.scss";

// navigation
@import "_nav.scss";

// corps de page

// a propos
@import "_apropos.scss";

// services
@import "_sectionServices.scss";

// produits
@import "_sectionproduits.scss";

//footer
@import "_footer.scss";
